<h1>Listing clues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Clue type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clues.each do |clue| %>
      <tr>
        <td><%= clue.name %></td>
        <td><%= clue.description %></td>
        <td><%= clue.clue_type %></td>
        <td><%= link_to 'Show', clue_path(clue, auth: "abc") %></td>
        <td><%= link_to 'Edit', edit_clue_path(clue, auth: "abc") %></td>
        <td><%= link_to 'Destroy', clue_path(clue, auth: "abc"), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clue', new_clue_path(auth: "abc") %>
